.titlebar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    padding-bottom: 6px;
    padding-top: 6px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it is above other content */
}

.window-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-app-region: no-drag; /* Exclude the button area from being draggable */
}

.window-button {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 3px;
    padding: 0;
}

.window-icon {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image fits within the button */
}

.window-button:hover {
    opacity: 0.8;
}
