.app {
  height: 100vh;
  border-radius: 5px;
  background-color: theme("colors.light.background");
  color: theme("colors.light.text"); /* Light mode text */
  overflow: hidden;
}

.app.dark {
  background-color: theme("colors.dark.background"); /* dark mode background */
  color: theme("colors.dark.text");
  overflow: hidden;
}
